---
title: "Calculator"
---

<!DOCTYPE html>
<html lang=en>
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
<script src="scripts/calc.js?3"></script>
<script src="scripts/calculator.js?2"></script>
</head>
<body>

<div ng-app="calcApp">
    <div class="page" ng-controller="CalculatorController as calc">
        <div class="container">
            <h1 class="page-title">Calculator</h1>
            <p class="lead">Buy/sell calculator</p>

            {% raw %}
            <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">Buy</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <label class="control-label" for="buy-shares">No. of Shares</label>
                                </div>
                                <div class="col-xs-6">
                                    <label class="control-label" for="buy-price">Bid Price</label>
                                </div>
                            </div>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <input type="number" ng-model="data.buy.shares" id="buy-shares" class="form-control" min="0" placeholder="No. of Shares" required step="{{step.shares}}">
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="number" ng-model="data.buy.price" id="buy-price" class="form-control text-capitalize" min="0" placeholder="Buy Price" required step="{{step.price}}">
                                    </div>
                                </div>
                            </div>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Gross Buy</td>
                                        <td class="text-right">{{data.buy.gross|number:2}}</td>
                                    </tr>
                                     <tr>
                                         <td>Buy Charges</td>
                                         <td class="text-right">{{data.buy.charges|number:2}}</td>
                                     </tr>
                                     <tr class="text-danger">
                                         <th>Net Buy</th>
                                        <th class="text-right">{{data.buy.net|number:2}}</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- panel body -->
                    </div><!-- panel -->
                </div><!-- col-lg -->
                <div class="col-lg-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <span class="pull-right">
                                <label>
                                    <small>Partial</small>
                                    <input type="checkbox" ng-model="data.partial">
                                </label>
                            </span>
                            <h4 class="panel-title">Sell</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <label class="control-label" for="sell-shares">No. of Shares</label>
                                </div>
                                <div class="col-xs-6">
                                    <label class="control-label" for="sell-price">Sell Price</label>
                                </div>
                            </div>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <input type="number" ng-model="data.sell.shares" id="sell-shares" class="form-control no-of-shares" min="0" placeholder="No. of Shares" required step="{{step.shares}}">
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="number" ng-model="data.sell.price" id="sell-price" class="form-control sell-price text-capitalize" min="0" placeholder="Sell Price" required step="{{step.price}}">
                                    </div>
                                </div>
                            </div>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Gross Sell</td>
                                        <td class="text-right">{{data.sell.gross|number:2}}</td>
                                    </tr>
                                    <tr>
                                        <td>Sell Charges</td>
                                        <td class="text-right">{{data.sell.charges|number:2}}</td>
                                    </tr>
                                    <tr class="text-success">
                                        <th>Net Sell</th>
                                        <th class="text-right">{{data.sell.net|number:2}}</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- panel body -->
                    </div><!-- panel -->
                </div><!-- col-lg -->
                <div class="col-lg-4">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h4 class="panel-title">Profit</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <label class="control-label" for="capital">Capital</label>
                                </div>
                            </div>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input ng-model="data.capital" type="number" id="capital" class="form-control" min="0" step="1000" placeholder="Capital" required>
                                    </div>
                                </div>
                            </div>
                            <table class="table">
                                <tbody>
                                    <tr class="text-danger">
                                        <th>Net Buy</th>
                                        <th class="text-right">{{data.buy.net|number:2}}</th>
                                    </tr>
                                    <tr class="text-success">
                                        <th>Net Sell</th>
                                        <th class="text-right">{{data.sell.net|number:2}}</th>
                                    </tr>
                                    <tr ng-class="{'text-danger':data.profit.value < 0, 'text-success': data.profit.value > 0}">
                                        <th colspan="2" class="text-right"><span>({{data.profit.percent|number:2}}%)</span> <span>{{data.profit.value|number:2}}</span></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- panel body -->
                    </div><!-- panel -->
                </div><!-- col-lg -->
            </div><!-- row -->
            {% endraw %}
        </div><!-- container -->
    </div><!-- page -->
</div><!-- calcapp -->

</body>
</html>
